---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Big Bang"        # brief name of host site without address (e.g., "Euphoric State University")
address: "0 Universe Blvd #G"      # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: "Abroad"      # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "Esperanto"     # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "46.862496, 103.846656"       # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: "02/31/2016"    # human-readable date (e.g., "Feb 17-18, 2020")
humantime: "2.30am - 3.00am"    # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: "02-31-2016"      # use YYYY-MM-DD format like 2015-01-01
enddate: "02-31-2016"        # use YYYY-MM-DD format like 2015-01-02
instructor: ["The Huckinator", "My Neighbor"] # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Alf", "Garfield"]     # list of names like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: "dont-bother-me@nevermind.gov"      # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad: "http://pad.software-carpentry.org/davis-feb-2016"        # optional (insert the URL for your Etherpad if you're using one)
eventbrite:  ""     # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<h2 id="general">General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  <a href="{{site.swc_site}}">Hardware Automobile-pentry</a>'s mission
  is to help anyone reading this by being as least helpful as possible.
</p>
<p align="center">
  <em>
    For more information on what we not teach and why not,
    please don't see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p id="who">
  <strong>Who:</strong>
  Anybody with a name
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p id="requirements">
  <strong>Requirements:</strong> Participants must bring beer and come in their pyjamas.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p id="contact">
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Schedule</h2>

<!-- DO NOT EDIT SURVEY LINKS -->
<p><em>Surveys</em></p>
<p>Please be sure to complete these surveys before and after the workshop.</p>
<p><a href='{{ site.swc_pre_survey }}{{ site.github.project_title }}'>Pre-workshop Survey</a></p>
<p><a href='{{ site.swc_post_survey }}{{ site.github.project_title }}'>Post-workshop Survey</a></p>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>02:30</td>  <td>Waking up the participants</td> </tr>
      <tr> <td>02:45</td> <td>wrap-up, send everyone to sleep again</td> </tr>
    </table>
  </div>
</div>
